<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Create dependency bean for NormalHumanService -->
    <bean id="anNormalHumanService"
          class="dependencies.NormalHumanService"/>

    <!-- Create bean -->
    <bean id="theNormalHuman"
          class="objects.NormalHuman">

        <!-- use constructor-based, inject normalHumanService into NormalHuman -->
        <constructor-arg ref="anNormalHumanService"/>
    </bean>

    <!-- Create dependency bean for DisabledHumanService -->
    <bean id="anDisabledHumanService"
          class="dependencies.DisabledHumanService"/>

    <!-- Create bean -->
    <bean id="theDisabledHuman"
          class="objects.DisabledHuman">

        <!-- use setter-based, inject disabledHumanService into disabledHuman -->
        <property name="humanService" ref="anDisabledHumanService"/>
    </bean>

</beans>